<div class="navber">
  <p>Kalyptica</p>

  <button class="menu-toggle" aria-label="Menu">&#9776;</button>

  <div class="navber-div">
    <a href="/admin/revalidate">Revalidate</a>
    <a href="/admin/register">Add New User</a>
    <a href="/admin/allblog">See All Blog</a>
    <a href="/admin/logout">Log Out</a>
  </div>
</div>
